@charset "UTF-8";
/*!
 * ress.css 窶｢ v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

body {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3","游ゴシック体";
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-family: "游ゴシック体";
  overflow-x: hidden;
}

html.is-open {
  overflow-y: hidden;
}

.l-header {
  position: relative;
  font-family: "游ゴシック体";
  width: 100%;
  padding: 20px;
}

@media (min-width: 1280px) {
  .l-header {
    padding: 0;
    margin-top: 20px;
    height: auto;
    position: static;
    align-items: center;
    display: flex;
  }
}

@media (min-width: 1280px) {
  .l-header {
    margin-top: 27px;
    margin-left: 10px;
  }
}

.l-header__right {
  padding-top: 30px;
  padding-left: 20px;
  background-color: #fff;
  padding-bottom: 30px;
}

@media (min-width: 1280px) {
  .l-header__right {
    width: auto;
    display: flex;
    margin-left: auto;
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .l-header__right__wrap {
    text-align: right;
    margin-right: 20px;
  }
}

@media (min-width: 1280px) {
  .l-header__left {
    display: flex;
    align-items: center;
  }
}

.l-header__wrap {
  width: 80%;
  position: absolute;
  transition: 0.6s;
  right: -1000px;
  top: 0%;
  z-index: 100;
  background-color: #fff;
  padding-top: 40px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .l-header__wrap {
    width: 40%;
  }
}

@media (min-width: 1280px) {
  .l-header__wrap {
    padding-top: 0;
    position: static;
    display: flex;
    width: 100%;
  }
}

.l-header__wrap.is-open {
  right: 0;
}

.l-header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1280px) {
  .l-header__inner {
    justify-content: start;
  }
}

.l-header__logo__nav {
  padding-left: 20px;
}

@media (min-width: 1280px) {
  .l-header__logo__nav {
    display: none;
    padding-left: 0;
  }
}

.p-hamburger {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block;
  z-index: 1000;
}

@media (min-width: 1280px) {
  .p-hamburger {
    display: none;
    top: 20%;
  }
}

.p-hamburger span {
  width: 30px;
  height: 2px;
  font-size: 0;
  position: absolute;
  background: #000;
  background-size: auto 1px;
  left: calc(50% - (20px / 2));
  top: 50%;
  transition: transform 0.2s;
}

.p-hamburger.is-open span {
  display: none;
}

.p-hamburger.is-open::after {
  transform: rotate(-45deg);
  top: 24px;
}

.p-hamburger.is-open::before {
  transform: rotate(45deg);
  top: 24px;
}

.p-hamburger::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: calc(50% - (20px / 2));
  display: block;
  transition: transform 0.2s;
  bottom: 15px;
}

.p-hamburger::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: calc(50% - (20px / 2));
  display: block;
  transition: transform 0.2s;
  top: 15px;
}

.c-button a, .c-contact__button a {
  color: #fff;
  text-decoration: none;
}

.c-button a:hover, .c-contact__button a:hover {
  opacity: 0.8;
}

.p-black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  cursor: pointer;
}

.p-black-bg.is-open {
  opacity: 0.8;
  visibility: visible;
}

.p-dropdown-menu {
  list-style: 1.8;
  align-items: center;
}

@media (min-width: 1280px) {
  .p-dropdown-menu {
    width: auto;
    display: flex;
    margin-left: 30px;
  }
}

.p-dropdown-menu__list {
  font-weight: bold;
  list-style: none;
}

@media (min-width: 1280px) {
  .p-dropdown-menu__list {
    margin-top: 0;
    margin-left: 28px;
  }
}

.p-dropdown-menu__list a {
  text-decoration: none;
  color: #000;
}

.c-dropdown__menu__item {
  padding: 10px 0 10px 20px;
  border-bottom: solid 1px #fff;
  list-style: none;
  background-color: #1b224c;
  font-family: "游ゴシック体";
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  display: block;
  cursor: pointer;
}

.c-dropdown__menu__item:hover {
  opacity: 0.7;
}

.c-dropdown__menu__item a {
  display: block;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1280px) {
  .c-dropdown__menu__item {
    padding: 0;
    border-bottom: 0;
    background-color: transparent;
  }
  .c-dropdown__menu__item a {
    color: #000;
  }
}

.c-header__right__button, .c-header__right__button__blue {
  background-color: #f5a623;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  line-height: 1.7;
  font-weight: bold;
  font-size: 14px;
  margin-top: 30px;
}

@media (min-width: 1280px) {
  .c-header__right__button, .c-header__right__button__blue {
    width: 140px;
    margin: 0;
  }
}

.c-header__right__button__blue {
  background-color: #1b224c;
  margin-left: 10px;
}

.c-header__right__contact {
  font-weight: 500;
  line-height: 1.6;
}

.c-header__right__number {
  display: flex;
  font-weight: bold;
  line-height: 1.6;
}

@media (min-width: 1280px) {
  .c-header__right__number {
    justify-content: space-between;
  }
}

.l-main {
  height: 100%;
}

.p-hero {
  background-image: url(../image/fv.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 1280px) {
  .p-hero {
    height: 476px;
  }
}

.c-title, .c-contact__title {
  font-family: "游ゴシック体";
  font-weight: bold;
}

.c-hero__title {
  text-align: center;
  line-height: 1.3;
  font-size: 46px;
  color: #fff;
  padding-top: 116px;
}

@media (min-width: 1280px) {
  .c-hero__title {
    font-size: 48px;
  }
}

.c-hero__text {
  line-height: 1.7;
  font-family: "游ゴシック体";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding-top: 25px;
  color: #fff;
}

.c-hero__button {
  justify-content: center;
  align-items: center;
  border-radius: 31px;
  background-color: #f5a623;
  color: #fff;
  display: flex;
  margin: 50px auto 0 auto;
  font-size: 16px;
  font-family: "游ゴシック体";
  font-weight: bold;
  height: 60px;
  width: 260px;
}

.c-hero__contact {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 50px;
}

.c-hero__contact a {
  text-decoration: none;
  color: #fff;
  border-bottom: solid 1px #fff;
}

.p-concept {
  background-color: #1b224c;
  padding: 0 10px 40px 10px;
}

@media (min-width: 1280px) {
  .p-concept {
    padding-bottom: 54px;
  }
}

.p-concept__inner {
  padding-top: 65px;
  text-align: center;
}

.p-concept__inner br {
  display: none;
}

@media (min-width: 1280px) {
  .p-concept__inner br {
    display: block;
  }
}

@media (min-width: 1280px) {
  .p-concept__inner {
    display: flex;
    text-align: center;
    justify-content: space-around;
    max-width: 700px;
    margin: 0 auto;
  }
}

.p-concept__wrap {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 11px 16px 12px 16px;
  margin-top: 83px;
}

.p-concept__wrap__inner {
  border: solid 5px #1b224c;
}

.c-concept__title {
  font-size: 30px;
  padding-top: 63px;
  text-align: center;
  line-height: 1.3;
  color: #fff;
}

@media (min-width: 1280px) {
  .c-concept__title br {
    display: none;
  }
}

@media (min-width: 1280px) {
  .c-concept__title {
    font-size: 36px;
  }
}

.c-concept__text {
  color: #fff;
  line-height: 2.1;
  font-size: 18px;
  font-weight: bold;
  font-family: "游ゴシック体";
}

.c-concept__wrap__title {
  line-height: 1.8;
  font-size: 28px;
  color: #1b224c;
  text-align: center;
}

@media (min-width: 1280px) {
  .c-concept__wrap__title {
    font-size: 36px;
  }
}

.c-concept__wrap__text {
  font-family: "游ゴシック体";
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  padding-bottom: 24px;
}

@media (min-width: 1280px) {
  .c-concept__wrap__text {
    font-size: 16px;
  }
}

.p-service {
  width: 100%;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .p-service {
    max-width: 900px;
    margin: 0 auto;
  }
}

.p-service__box {
  text-align: left;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .p-service__box {
    margin-top: 60px;
    display: flex;
  }
}

.p-service__box img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 30px;
  height: 240px;
}

@media (min-width: 768px) {
  .p-service__box img {
    margin-bottom: 0;
    width: 350px;
  }
}

.p-service__box__wrap {
  height: 100%;
}

@media (min-width: 768px) {
  .p-service__box__wrap {
    margin-left: 30px;
    width: 500px;
  }
}

@media (min-width: 1280px) {
  .p-service__box__wrap {
    margin-left: 50px;
  }
}

.p-service__plan, .p-contact {
  background-image: url(../image/price.png);
  height: 217px;
  margin-top: 60px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .p-service__plan, .p-contact {
    margin-top: 90px;
  }
}

.c-service__title {
  font-size: 4.5vw;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 40px;
  list-style: 1.5;
}

@media (min-width: 1280px) {
  .c-service__title {
    font-size: 36px;
  }
}

.c-service__box__point p {
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  width: 90px;
  height: 30px;
  background-color: #f5a623;
  color: #fff;
}

.c-service__box__title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.c-service__box__title br {
  display: none;
}

@media (min-width: 768px) {
  .c-service__box__title br {
    display: block;
  }
}

@media (min-width: 1280px) {
  .c-service__box__title {
    font-size: 26px;
  }
}

.c-service__box__text {
  font-family: "游ゴシック体";
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.68;
}

.c-service__plan__title, .c-contact__title {
  line-height: 1.3;
  padding-top: 60px;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

@media (min-width: 768px) {
  .c-service__plan__title, .c-contact__title {
    font-size: 26px;
  }
}

.c-service__plan__button, .c-contact__button {
  line-height: 1.6;
  margin-top: 25px;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 31px;
  width: 200px;
  height: 50px;
}

@media (min-width: 768px) {
  .u-display {
    flex-direction: row-reverse;
    display: flex;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .u-margin {
    margin-left: 0;
    margin-right: 50px;
  }
}

.p-model {
  width: 100%;
  padding-bottom: 40px;
  background-color: #1b224c;
}

@media (min-width: 768px) {
  .p-model {
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .p-model__wrap {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .p-model__wrap {
    max-width: 900px;
  }
}

.p-model__inner {
  display: flex;
  margin-top: 10px;
}

.p-model__box {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

@media (min-width: 768px) {
  .p-model__box {
    width: 30%;
  }
}

.p-model__box img {
  object-fit: contain;
  background-color: #fff;
  width: 100%;
  height: 170px;
}

.c-model__title {
  padding-top: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
}

.c-model__box__title {
  padding-top: 40px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  line-height: 1.8;
}

.c-model__box__text {
  margin-top: 10px;
  font-weight: 500;
  background-color: #fff;
  line-height: 1.8;
}

.c-model__inner__work {
  background-color: #fff;
  font-weight: 500;
  width: 30%;
  line-height: 1.8;
}

.c-model__inner__work p {
  line-height: 1.8;
}

.c-model__inner__name {
  line-height: 1.8;
  margin-left: 8px;
  background-color: #fff;
  font-weight: 500;
  width: 70%;
}

.p-table {
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
  width: 90%;
  color: #333333;
}

.p-table tr {
  background-color: #f8f8f8;
}

.p-table th {
  display: table-cell;
  width: 30%;
  text-align: left;
  margin-top: 20px;
}

.p-table td {
  text-align: initial;
  display: table-cell;
  width: 60%;
  font-weight: bold;
}

.p-flow__title {
  font-size: 36px;
  line-height: 1.3;
}

.p-flow__wrap {
  display: flex;
  align-items: center;
  font-family: "游ゴシック体";
  height: 64px;
  width: 90%;
  margin: 0 auto;
  background-color: #f8f8f8;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .p-flow__wrap {
    max-width: 900px;
  }
}

.p-flow section {
  position: absolute;
}

.c-flow__title {
  color: #1b224c;
  text-align: center;
  font-size: 36px;
  line-height: 1.38;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .c-flow__title {
    margin-top: 58px;
    margin-bottom: 50px;
  }
}

.c-flow__number {
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  background-color: #f5a623;
  color: #fff;
  display: flex;
}

.c-flow__title2 {
  line-height: 1.5;
  background-color: #f8f8f8;
  color: #1b224c;
  font-size: 14px;
  width: 25%;
  height: 64px;
  align-items: center;
  display: flex;
  padding-left: 1vw;
}

@media (min-width: 768px) {
  .c-flow__title2 {
    padding-left: 20px;
    line-height: 2.2;
  }
}

.c-flow__text {
  background-color: #f8f8f8;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 75%;
}

@media (min-width: 768px) {
  .c-flow__text {
    line-height: 1.68;
    font-size: 16px;
    padding-left: 50px;
  }
}

.c-flow__border {
  width: 1px;
  height: 30px;
  background-color: #c3c3c3;
}

.p-faq__inner {
  display: flex;
}

.p-faq__wrap {
  text-align: center;
  width: 100%;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .p-faq__wrap {
    max-width: 900px;
    margin: 0 auto;
  }
}

.p-faq__wrap__list {
  width: 80%;
  margin: 0 auto;
}

.c-faq__title {
  font-family: "游ゴシック体";
  font-weight: bold;
  text-align: center;
  color: #1B224C;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .c-faq__title {
    margin-top: 70px;
  }
}

.c-faq__wrap__title {
  font-family: "游ゴシック体";
  font-weight: 500;
  color: #333333;
  border-top: 1px solid #1b224c;
  padding: 20px;
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 1.85;
  width: 100%;
}

.c-faq__text {
  font-family: "游ゴシック体";
  font-weight: 500;
  line-height: 1.85;
  color: #444444;
  border: 1px solid #e5e5e5;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: left;
  display: none;
  margin-bottom: 15px;
}

.u-border {
  border-bottom: 1px solid #1b224c;
}

.op_plus {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0 5px;
  top: 10%;
  left: 30%;
}

.op_plus:before,
.op_plus:after {
  display: block;
  content: "";
  background-color: #333;
  position: absolute;
  width: 18px;
  height: 5px;
  top: 7px;
  left: 0;
}

.op_plus:before {
  width: 5px;
  height: 18px;
  top: 0;
  left: 7px;
}

.op_plus.active::before {
  display: none;
  transform: 0.5;
}

@media (min-width: 768px) {
  .p-wrapper {
    gap: 50px;
    display: flex;
    max-width: 900px;
    margin: 0 auto;
  }
}

.p-blog__wrap {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .p-blog__wrap {
    width: 100%;
  }
}

.c-blog__title {
  text-align: center;
  font-size: 36px;
  margin-top: 80px;
}

@media (min-width: 768px) {
  .c-blog__title {
    text-align: left;
    margin-top: 90px;
  }
}

.c-blog__wrap__text {
  position: relative;
  margin-left: 20px;
  font-family: "游ゴシック体";
  font-weight: bold;
  color: #1B224C;
}

.c-blog__wrap__text p {
  text-decoration: underline;
}

.c-blog__wrap__text time {
  position: absolute;
  top: 85%;
  font-size: 12px;
  font-family: "游ゴシック体";
  font-weight: 500;
}

.c-blog__wrap__image {
  object-fit: cover;
  width: 150px;
  height: auto;
}

.p-news__wrap {
  height: 100px;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .p-news__wrap {
    width: 100%;
  }
}

.c-news__title {
  color: #1B224C;
  margin-top: 60px;
  text-align: center;
  font-size: 36px;
}

@media (min-width: 768px) {
  .c-news__title {
    margin-top: 90px;
    text-align: left;
  }
}

.c-news__wrap__text {
  font-family: "游ゴシック体";
  font-weight: 500;
  color: #1B224C;
  margin-top: 20px;
  text-decoration: underline;
}

.c-news__wrap__text time {
  font-family: "游ゴシック体";
  font-weight: 500;
  font-size: 16px;
}

.p-contact {
  background-image: url(../image/cta-1.png);
  text-align: center;
  background-position: center;
  width: 100%;
  background-size: cover;
  height: 256px;
  margin-bottom: 0;
}

.p-contact a {
  text-decoration: underline;
  color: #fff;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-family: "游ゴシック体";
  font-weight: 500;
  margin-bottom: 40px;
}

.p-contact__number {
  background-color: #fff;
  align-items: flex-end;
  text-align: center;
  height: 80px;
  font-size: 16px;
  line-height: 1.68;
  font-family: "游ゴシック体";
  font-weight: bold;
  color: #1B224C;
  margin-bottom: 22px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .p-contact__number {
    margin-left: -110px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .p-contact__number p {
    margin-left: 20px;
  }
}

.p-contact__number span {
  font-size: 36px;
  align-items: flex-end;
  line-height: 1.1;
}

.u-font {
  font-weight: 500;
}

.l-footer {
  width: 100%;
  height: 230px;
  background-color: #1B224C;
  font-family: "游ゴシック体";
}

.l-footer__wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

@media (min-width: 768px) {
  .l-footer__wrap {
    max-width: 900px;
  }
}

.p-footer__menu {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .p-footer__menu {
    margin-top: 50px;
    display: flex;
  }
}

.p-footer__contact {
  text-align: right;
  margin-top: 40px;
}

.p-footer__contact time {
  margin-top: 13px;
  color: #fff;
}

.c-footer__menu__item {
  list-style: none;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .c-footer__menu__item {
    padding-top: 0;
    padding: 0 21.5px;
    height: 23px;
    border-right: solid 1px #fff;
  }
}

.c-footer__menu__item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.c-footer__menu__item a:hover {
  opacity: 0.8;
}

.c-footer__number {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.c-footer__number img {
  margin-top: 30px;
  background-color: #fff;
  margin-right: 10px;
  object-fit: contain;
  height: 15px;
}

.c-footer__number p {
  text-align: right;
  margin-top: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.c-footer__button {
  color: #fff;
  width: 200px;
  height: 60px;
  background-color: #fff;
}

.c-footer__button img {
  object-fit: cover;
  background-color: #fff;
}

.p-copyright__wrap {
  align-items: center;
  display: flex;
  width: 90%;
  justify-content: flex-end;
  height: 36px;
}

@media (min-width: 768px) {
  .p-copyright__wrap {
    max-width: 900px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */