@import "foundation/reset";
@import "foundation/mixin";
@import "foundation/variable.scss";

@import "foundation/base";
@import "layout/header";
@import "object/project/hamburger";

@import "layout/sidebar";

@import "object/project/global-nav";
@import "object/component/button";

@import "object/project/black-bg";
@import "object/project/dropdown-menu";

@import "object/component/dropdown__menu__item";
@import "object/component/header";
@import "layout/main";
@import "object/project/hero";
@import "object/component/title";
@import "object/component/hero";
@import "object/project/concept";

@import "object/component/concept";

@import "object/project/service";

@import "object/component/service";
@import "object/utility/display";
@import "object/utility/margin";

@import "object/project/model";

@import "object/component/model";
@import "object/project/table";

@import "object/component/flow";
@import "object/project/faq";
@import "object/project/flow";
@import "object/component/faq";

@import "object/utility/border";

// .is-border {
//   border-bottom: 1px solid #1B224C;
// }
// .u-display {
//   display: block;
// }

// .op_plus {
//   display: inline-block;
//   position: absolute;
//   width: 18px;
//   height: 18px;
//   margin: 0 5px;
//   top: 30%;
//   left: 90%;
// }
// .op_plus:before,
// .op_plus:after {
//   display: block;
//   content: "";
//   background-color: #333;

//   position: absolute;
//   width: 18px;
//   height: 3px;
//   top: 7px;
//   left: 0;
// }
// .op_plus:before {
//   width: 3px;
//   height: 18px;
//   top: 0;
//   left: 7.5px;
// }
// .op_plus.active {
//   &::before {
//     display: none;
//     transform: 0.5;
//   }
// }
@import "object/project/wrapper";
@import "object/project/blog";

@import "object/component/blog";

@import "object/project/news";

@import "object/component/news";
@import "object/project/contact";


@import "object/component/contact";

@import "object/utility/font";

@import "layout/footer";
@import "object/project/footer";
@import "object/component/footer";

@import "object/project/copyright";
.p-hero__archive {
  margin-top: 50px;
 
  &__wrap {
    width: 80%;
    margin: 0 auto;
    @include breakpoint(tablet) {
  
      max-width:900px ;
    }
  }
  &__box {
    border-top: solid 1px #D5D5D5;
   
    height: 64px;
    align-items: center;
    @include breakpoint (tablet) {
      display: flex;
    }
    time {
      width: 20%;
      align-items: center;
      display: flex;
    }
    a {
      color:#1B224C ;
      font-weight: 500;
    }
  }
}


.c-hero__archive__title {
  text-align: center;
  font-family: "游ゴシック体";
  font-weight: bold;
  margin-bottom: 50px;
}
.c-hero__archive__box__title {
  font-weight: 500;
  font-family: "游ゴシック体";
}
.u-border2 {
  border-bottom:solid 1px #D5D5D5
}
.p-page {
  height: 170.5px;
  display: flex;
  justify-content: center;
}
.c-page-button {
 text-align: center;
  display: block;
  text-decoration: none;
  font-size: 16px;
  margin-top: 105.5px;
  margin-right: 15px;
  padding-top: 5px;
  height: 35px;
  width: 35px;
  border: solid #cccccc 2px;
  color: #707070;
  font-weight: bold;
  @include breakpoint (table) {
    margin-top: 150px;
  }
}
.l-main__news {
  width: 80%;
 
  margin: 0 auto;
  margin-top: 80px;
  @include breakpoint (tablet) {
    max-width: 900px;
  }
}
.l-main__blog__archive__wrap {
  width: 80%;
  margin-top: 80px;
  margin: 0 auto;
  font-family: "游ゴシック体";
  margin-top: 40px;
  @include breakpoint (tablet) {
    max-width: 900px;
  }
  h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #1B224C;
  }
}
.p-main__blog__box {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  @include breakpoint (tablet) {
    display: flex;
   
    height: 150px;
    
  }
  img {
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    @include breakpoint (tablet) {
      width: 30%;
    }
  }
}
.p-main__blog__text {
  margin-left: 30px;
  a {
    color: #1B224C;

  }
  
}
