@import "foundation/reset";
@import "foundation/mixin";
@import "foundation/variable.scss";

@import "foundation/base";
@import "layout/header";
@import "object/project/hamburger";

@import "layout/sidebar";

@import "object/project/global-nav";
@import "object/component/button";

@import "object/project/black-bg";
@import "object/project/dropdown-menu";

@import "object/component/dropdown__menu__item";
@import "object/component/header";
@import "layout/main";
@import "object/project/hero";
@import "object/component/title";
@import "object/component/hero";
@import "object/project/concept";

@import "object/component/concept";

@import "object/project/service";

@import "object/component/service";
@import "object/utility/display";
@import "object/utility/margin";

@import "object/project/model";

@import "object/component/model";
@import "object/project/table";

@import "object/component/flow";
@import "object/project/faq";
@import "object/project/flow";
@import "object/component/faq";

@import "object/utility/border";

// .is-border {
//   border-bottom: 1px solid #1B224C;
// }
// .u-display {
//   display: block;
// }

// .op_plus {
//   display: inline-block;
//   position: absolute;
//   width: 18px;
//   height: 18px;
//   margin: 0 5px;
//   top: 30%;
//   left: 90%;
// }
// .op_plus:before,
// .op_plus:after {
//   display: block;
//   content: "";
//   background-color: #333;

//   position: absolute;
//   width: 18px;
//   height: 3px;
//   top: 7px;
//   left: 0;
// }
// .op_plus:before {
//   width: 3px;
//   height: 18px;
//   top: 0;
//   left: 7.5px;
// }
// .op_plus.active {
//   &::before {
//     display: none;
//     transform: 0.5;
//   }
// }
@import "object/project/wrapper";
@import "object/project/blog";

@import "object/component/blog";

@import "object/project/news";

@import "object/component/news";
@import "object/project/contact";

@import "object/component/contact";

@import "object/utility/font";

@import "layout/footer";
@import "object/project/footer";
@import "object/component/footer";

@import "object/project/copyright";
.p-hero__archive {
  margin-top: 50px;

  &__wrap {
    width: 80%;
    margin: 0 auto;
    @include breakpoint(tablet) {
      max-width: 900px;
    }
  }
  &__box {
    border-top: solid 1px #d5d5d5;
    height: 64px;
    // align-items: center;
    display: flex;
    padding-top: 10px;
    align-items: center;

    @include breakpoint(tablet) {
      display: flex;
      padding-top: 0;
    }
    time {
      padding-right: 10px;
      align-items: center;

      font-family: "游ゴシック体";
      font-weight: 500;
      font-size: 14px;
      @include breakpoint(tablet) {
        font-size: 16px;
        margin-right: 50px;
      }
    }
    p {
      text-align: left;
    }
    a {
      color: #1b224c;
      font-weight: 500;
      font-size: 0.75rem;

      line-height: 1.5;
      @include breakpoint(tablet) {
        font-size: 16px;
      }
    }
  }
}

.c-hero__archive__title {
  text-align: center;
  font-family: "游ゴシック体";
  font-weight: bold;
  margin-bottom: 50px;
}

.u-border2 {
  border-bottom: solid 1px #d5d5d5;
}
.p-page {
  height: 170.5px;
  display: flex;
  justify-content: center;
}
.c-page-button {
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 16px;
  margin-top: 105.5px;
  margin-right: 15px;
  padding-top: 5px;
  height: 35px;
  width: 35px;
  border: solid #cccccc 2px;
  color: #707070;
  font-weight: bold;
  @include breakpoint(table) {
    margin-top: 150px;
  }
}

.p-main__blog__box {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  @include breakpoint(tablet) {
    display: flex;
    margin-top: 90px;
    height: 150px;
    width: 100%;
  }
  img {
    margin: 0 auto;
    object-fit: cover;
    width: 240px;
    height: 178px;

    @include breakpoint(tablet) {
    }
  }
}
.p-main__blog__text {
  margin-left: 30px;
  a {
    color: #1b224c;
  }
}
.breadcrumb-area {
  font-family: "游ゴシック体";
  font-weight: 500;
  color: $base-color;
  height: 50px;
  width: 100%;
  background-color: #f8f8f8;
  align-items: center;
  display: flex;
  &__inner {
    margin: 0 auto;

    width: 80%;
    @include breakpoint(tablet) {
      max-width: 900px;
    }
  }

  a {
    text-decoration-color: #000;
  }
  span {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-family: "游ゴシック体";
    font-weight: 500;
  }
}
.l-footer__inner {
  display: flex;
  width: 80%;

  margin: 0 auto;
  @include breakpoint(tablet) {
    max-width: 900px;
  }
}
.p-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  font-family: "游ゴシック体";
  font-weight: 500;
  // span {
  //   margin-top: 35px;
  //   margin-bottom: 40px;
  // }
  p {
    span {
      font-weight: 500;
    }
    input {
      border: solid 0.5px #1b224c;
      margin-top: 10px;
    }
    .form-text {
      height: 50px;
      padding-left: 20px;
      width: 100%;
    }
    textarea {
      margin-top: 10px;
      border: solid 0.5px #1b224c;
      width: 100%;
      padding-top: 22px;
      padding-left: 22px;
      height: 240px;
    }
    a {
      color: #f5a623;
    }
    button {
      width: 200px;
      height: 50px;
      margin: 0 auto;
      background-color: #1b224c;
      color: $title-color;
      border-radius: 10px;
    }
  }
  @include breakpoint(tablet) {
    max-width: 700px;
  }
}
.p-price {
  font-family: "游ゴシック体";
  width: 90%;
  margin: 0 auto;
  @include breakpoint(tablet) {
    max-width: 900px;
  }
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    @include breakpoint(pc) {
      font-size: 32px;
    }
  }
  &__inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include breakpoint(tablet) {
      width: 80%;
    }
  }
  &__wrap {
    display: flex;
    gap: 7px;
    margin-top: 70px;

    overflow: auto; /*スクロールさせる*/
    white-space: nowrap; /*文字の折り返しを禁止*/

    @include breakpoint(pc) {
      overflow: visible;
    }
    &::-webkit-scrollbar {
      height: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #333;
    }
    &::-webkit-scrollbar-thumb {
      background: #999;
    }
    &__box {
      border: solid 0.5px #1b224c;
      width: 220px;
      height: 474px;
      font-family: "游ゴシック体";
      text-align: center;
      margin-top: 36px;
      h2 {
        background-color: #1b224c;
        color: #fff;
        height: 60px;
        width: 220px;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
      }
      p {
        span {
          font-weight: bold;
          font-size: 25px;
          margin-top: 30px;
        }
        font-size: 16px;
        font-weight: 500;
        margin-top: 15px;
      }
    }
    ul {
      margin-top: 50px;
      @include breakpoint(pc) {
        margin-top: 0;
      }
    }
    li {
      list-style: none;
      margin-top: 23px;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0.5em;
        left: 20px;
        width: 10px;
        height: 5px;
        border-left: 2px solid #1b224c;
        border-bottom: 2px solid #1b224c;
        transform: rotate(-45deg);
      }
    }
  }
}
.c-price__text {
  margin-top: 45px;
  font-size: 16px;
  font-weight: 500;
}
.c-price___item {
  background-color: #1b224c;
  width: 43%;
  height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  @include breakpoint(tablet) {
    width: 280px;
    height: 90px;
    font-size: 22px;
  }

  &__plus {
    width: 50px;
    height: 50px;
    position: relative;

    &::after {
      content: "";
      width: 30px;
      height: 2px;
      background-color: #000;
      position: absolute;

      display: block;
      transition: transform 0.2s;
      top: 25px;
      left: 12.5px;
    }
    &::before {
      content: "";
      width: 2px;
      height: 30px;
      background-color: #000;
      position: absolute;

      display: block;
      transition: transform 0.2s;
      left: 26px;
      top: 12.5px;
    }
  }
}
.u-price {
  height: 510px;
  margin-top: 0px;
  h2 {
    background-color: #f5a623;
    height: 96px;
  }
}
.c-price__title {
  margin-top: 50px;
  margin-bottom: 55px;
}
.c-price__title2 {
  margin-top: 90px;
}
.wp-pagenavi {
  /* 全体 */
  margin: 20px 0;
 
  text-align: center;
  font-family: "游ゴシック体";
  font-weight: bold;
  @include breakpoint(tablet) {
    margin-top: 65px;
  }
}
.wp-pagenavi a {
  /* フォント色 */
  color: #4a4a4a;
  align-items: center;
}
.pages {
  /* 左の表記 */
  // margin-right: 20px;
  display: none;
}
.wp-pagenavi .current,
.wp-pagenavi a.page {
  /* ボタン */
  margin: 0 6px;
  display: inline-block;
  border: solid 1px #eee;
  width: 50px;
  height: 50px;
  align-items: center;

  line-height: 45px;
  text-align: center;
}
.wp-pagenavi .current {
  /* カレント数字 */
  border: none;
  background: #1b224c;
  color: #fff;
  align-items: center;
}
.wp-pagenavi a.page:hover {
  /* マウスオーバー */
  background: #1b224c;
  color: #fff;
}
.wp-pagenavi .first,
.wp-pagenavi .extend {
  /* ... */
  margin-right: 10px;
}
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
  /* 記号の削除 */
  display: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.pages {
  text-decoration: underline;
}
blockquote {
  position: relative;
  padding: 10px 15px 10px 50px;
  box-sizing: border-box;
  font-style: italic;
  background: #efefef;
  color: #555;
  background-color: #f8f8f8;
}

blockquote:before {
  display: inline-block;
  position: absolute;

  left: -5px;
  content: "“";
  font-family: sans-serif;
  color: #cfcfcf;
  font-size: 90px;
  line-height: 1;
}

blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}
aside {
  font-family: "游ゴシック体";
  margin-top: 90px;
  @include breakpoint(tablet) {
    // margin: 90px auto 0 auto;
    width: 40%;
  }
  h2 {
    font-weight: bold;
    font-size: 21px;
    color: #fff;
    background-color: #1b224c;
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin: 0 auto 30px auto;
    @include breakpoint(tablet) {
      width: 100%;
    }
    @include breakpoint(pc) {
      width: 270px;
    }
  }
}
.widget {
  width: 90%;
  margin-bottom: 27px;

  margin: 27px auto 0 auto;
  @include breakpoint(tablet) {
    margin: 0;
  }
  a {
    color: $base-color;
    font-family: "游ゴシック体";
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
  }
  img {
    width: 100px;
    height: 70px;
    object-fit: cover;
  }
}
aside li {
  list-style: none;
}
// .eyecatch-cus {
//   position: relative; /*位置*/
// }
// p.eyecatch-labelinfo {
//   position: absolute; /*位置*/
//   font-size: 8px; /*文字サイズ*/
//   font-weight: bold; /*文字を太字*/
//   color: #ffff00; /*文字の色*/
//   background-color: #adff2f; /*背景色*/
//   padding: 0px 4px; /*縦・横の幅*/
//   left: 0; /*左からの位置*/
//   top: 0; /*上からの位置*/
//   opacity: 1; /*透明度*/
//   z-index: 5000; /*重なりの順序*/
// }

// .attachment-full {

// }
.eyecatch-label {
  font-family: "游ゴシック体";
  font-weight: 500;
  font-size: 12px;
  background-color: $base-color;
  color: $title-color;
  width: 78px;
  height: 23px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.rpwe-block {
  h3 {
    font-size: 12px;
    margin-left: 20px;
    text-decoration: underline;
    font-family: "游ゴシック体";
    font-weight: 500;

    a {
      color: $base-color;
    }
  }
}
.rpwe-li {
  display: flex;
  margin-bottom: 30px;
}
