.l-header {
  position: fixed;
  font-family: "游ゴシック体";
  width: 100%;
  // height: 1000px;
  padding: 20px;
  height: 80px;
  background-color: $title-color;
  z-index: 100;
  @include breakpoint(pc) {
    padding: 0;

    height: 80px;
  
    align-items: center;
    display: flex;
  }

  @include breakpoint(pc) {
    padding-left: 10px;
    // display: flex;
    // justify-content: space-between;
  }
  &__right {
    padding-top: 30px;
    padding-left: 20px;
    background-color: #fff;
    padding-bottom: 3000px;

    @include breakpoint(pc) {
      padding-bottom: 30px;
      width: auto;
      display: flex;
      margin-left: auto;
      align-items: center;
      margin-top: 0;
    }

    &__wrap {
      @include breakpoint(pc) {
        text-align: right;
        margin-right: 20px;
      }
    }
  }
  &__left {
    @include breakpoint(pc) {
      display: flex;
      align-items: center;
    }
  }
  &__wrap {
    width: 80%;
    position: absolute;
    transition: 0.6s;
    right: -1000px;
    top: 0%;

    z-index: 100;
    background-color: $title-color;
    padding-top: 60px;
    margin-left: 20px;
    @include breakpoint(tablet) {
      width: 40%;
    }
    @include breakpoint(pc) {
      padding-top: 0;
      height: 80px;
      position: static;
      display: flex;
      width: 100%;
    }
    &.is-open {
      right: 0;
    }
  }
  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    @include breakpoint(pc) {
      // justify-content: space-between;
      // display: flex;
      justify-content: start;
    }
  }

  &__logo__nav {
    padding-left: 20px;
    @include breakpoint(pc) {
      display: none;
      padding-left: 0;
    }
  }
}
