.p-blog {
  &__wrap {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    @include breakpoint (tablet) {
      width: auto;
    }
    img {
     
      object-fit: cover;
      @include breakpoint (tablet) {
        width: 210px;
        height: 128px;
      }
    }
    
  }
}
