.breadcrumb-area {
  font-family: "游ゴシック体";
  font-weight: 500;
  color: $base-color;
  height: 50px;
  width: 100%;
  background-color: #f8f8f8;
  align-items: center;
  display: flex;
  &__inner {
    margin: 0 auto;

    width: 80%;
    @include breakpoint(tablet) {
      max-width: 900px;
    }
  }

  a {
    text-decoration-color: #000;
  }
  span {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-family: "游ゴシック体";
    font-weight: 500;
  }
}
