.p-dropdown-menu {
  list-style: 1.8;
  align-items: center;

  @include breakpoint(pc) {
    width: auto;
    display: flex;

    // margin-left: 30px;
  }
  &__list {
    font-weight: bold;
    list-style: none;
    @include breakpoint(pc) {
      display: flex;
      margin-top: 0;
      // margin-left: 28px;
    }
    li {
      padding: 10px 0 10px 20px;
      border-bottom: solid 1px #fff;
      list-style: none;
      background-color: #1b224c;
      font-family: "游ゴシック体";
      font-weight: bold;
      font-size: 16px;
      line-height: 1.8;
      display: block;
      cursor: pointer;
      @include breakpoint (pc) {
        padding-left: 28px;
      }
      &:hover {
        opacity: 0.7;
      }
      a {
        display: block;
        color: #fff;
        text-decoration: none;
      }
      @include breakpoint(pc) {
        a {
          color: #000;
        }
       
        border-bottom: 0;
        background-color: transparent;
      }
    }
    a {
    
      text-decoration: none;
      color: #000;
    }
  }
}
