.eyecatch-label {
  font-family: "游ゴシック体";
  font-weight: 500;
  font-size: 12px;
  background-color: $base-color;
  color: $title-color;
  width: 78px;
  height: 23px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}