.p-footer {
  &__menu {
    margin-top: 10px;
    @include breakpoint(tablet) {
      margin-top:25px;
      display: flex;
    }
    li {
     
        list-style: none;
        padding-top: 10px;
        @include breakpoint(tablet) {
          padding-top: 0;
          padding: 0 21.5px;
          height: 23px;
          border-right: solid 1px #fff;
        }
        a {
          text-decoration: none;
          color: $title-color;
          font-weight: bold;
          &:hover {
            opacity: 0.8;
          }
        
      }
    }
  }
  &__contact {
    text-align: right;
    margin-top: 40px;
    time {
      margin-top: 13px;
      color: $title-color;
    }
  }
}