.p-global-nav {
  margin-top: 30px;
  &__item {
    padding: 10px 0 10px 20px;
    border-bottom: solid 1px #fff;
    list-style: none;
    background-color: #1b224c;
    font-family: "游ゴシック体";
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    display: block;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    a {
      display: block;
      color: $title-color;
      text-decoration: none;
    }
  }
}