.p-hero {
  background-image: url(../image/fv.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  // margin-top: 80px;
  @include breakpoint(pc) {
    height: 476px;
  }
  &__archive {
    margin-top: 50px;

    &__wrap {
      width: 80%;
      margin: 0 auto;
      @include breakpoint(tablet) {
        max-width: 900px;
      }
    }
    &__box {
      border-top: solid 1px #d5d5d5;

      // align-items: center;
      display: flex;
      padding-top: 10px;
      align-items: center;

      @include breakpoint(tablet) {
        height: 64px;
        display: flex;
        padding-top: 0;
      }
      time {
        padding-right: 10px;
        align-items: center;

        font-family: "游ゴシック体";
        font-weight: 500;
        font-size: 14px;
        @include breakpoint(tablet) {
          font-size: 16px;
          margin-right: 50px;
        }
      }
      p {
        text-align: left;
      }
      a {
        color: #1b224c;
        font-weight: 500;
        font-size: 0.75rem;

        line-height: 1.5;
        @include breakpoint(tablet) {
          font-size: 16px;
        }
      }
    }
  }
}
.p-hero__price {
  margin-top: 80px;
  // background-image: url(../image/plan.png);
  // background-position: center;
  // background-size: cover;
  height: 221px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.p-hero__child {
  position: relative;
  // margin-top: 80px;
  // z-index: 10;
  height: 221px;
  img {
    z-index: 10;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: #fff;
    font-family: "游ゴシック体";
    font-weight: bold;
    z-index: 1;
  }
}
