.p-hero {
  background-image: url(../image/fv.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-top: 80px;
  @include breakpoint(pc) {
    height: 476px;
  }
}
.p-hero__price {
  margin-top: 80px;
  // background-image: url(../image/plan.png);
  // background-position: center;
  // background-size: cover;
  height: 221px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.p-hero__child {
  position: relative;
  margin-top: 80px;
  img {
    z-index: 10;
    width: 100%;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: #fff;
    font-family: "游ゴシック体";
    font-weight: bold;
  }
}
