.p-wrapper {
  width: 80%;
  margin: 0 auto;
  @include breakpoint(tablet) {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-between;
    gap: 5%;
  }
  @include breakpoint (pc) {
    gap:10%;

  }
}