
.c-footer {
  &__menu {
    &__item {
      list-style: none;
      padding-top: 10px;
      @include breakpoint(tablet) {
        padding-top: 0;
        padding: 0 21.5px;
        height: 23px;
        border-right: solid 1px #fff;
      }
      a {
        text-decoration: none;
        color: $title-color;
        font-weight: bold;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  &__number {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      margin-top: 30px;
      background-color: $title-color;
      margin-right: 10px;
      object-fit: contain;

      height: 15px;
    }
    p {
      text-align: right;
      margin-top: 30px;
      color: $title-color;
      font-weight: bold;
      font-size: 16px;
    }
  }

  &__button {
    color: $title-color;
    width: 200px;
    height: 60px;
    background-color: $title-color;
    img {
      object-fit: cover;
      background-color: $title-color;
    }
  }
}