
.c-footer {
  &__menu {
   
  }
  &__number {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      margin-top: 30px;
      background-color: $title-color;
      margin-right: 10px;
      object-fit: contain;

      height: 15px;
    }
    p {
      text-align: right;
      margin-top: 30px;
      color: $title-color;
      font-weight: bold;
      font-size: 16px;
    }
  }

  &__button {
    color: $title-color;
    width: 200px;
    height: 60px;
    background-color: $title-color;
    img {
      object-fit: cover;
      background-color: $title-color;
    }
  }
}