.u-display {
  @include breakpoint(tablet) {
    flex-direction: row-reverse;
    display: flex;
    margin-left: 0;
  }
  &__faq {
    @include breakpoint(tablet) {
      display: block;
    }
  }
}
